actividad_13/Actividad13-3.dtd

<!ELEMENT biblioteca (nombre,seccion+)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT seccion (libro+)>
<!ELEMENT libro (titulo,autor,anio?,resumen,editorial)>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT anio (#PCDATA)>
<!ELEMENT resumen (#PCDATA)>

<!ELEMENT editorial (codigo?,nombre,ciudad)>
<!ELEMENT ciudad (#PCDATA)>

<!ELEMENT codigo (#PCDATA)>